@font-face {
   font-family: "Neuropol X Rg";
   src: url("fonts/NeuropolXRg-Regular.woff") format("woff"), url("fonts/NeuropolXRg-Regular.eot") format("embedded-opentype"), url("fonts/NeuropolXRg-Regular.ttf") format("truetype"), url("fonts/NeuropolXRg-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}